In [ ]:
import pandas as pd

# Load your data (adjust path if needed)
data_full = pd.read_csv('../merged_data/full_info_dataframe.csv', sep=",")

/var/folders/yr/gmmc3xcx5xg406qfnj2bnx340000gn/T/ipykernel_27301/3467637674.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data_full = pd.read_csv('../merged_data/full_info_dataframe.csv', sep=",")

,client_id,visitor_id,visit_id,process_step,date_time,is_client,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,True,5.0,64.0,79.0,NaN,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,True,5.0,64.0,79.0,NaN,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,True,5.0,64.0,79.0,NaN,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,True,5.0,64.0,79.0,NaN,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,True,5.0,64.0,79.0,NaN,2.0,189023.86,1.0,4.0,Test

In [9]:
# Filter to only rows where process_step is 'confirm'
confirm_visits = data_full[data_full['process_step'] == 'confirm']

# Drop duplicates to ensure each visitor is counted once
confirm_unique_visitors = confirm_visits[['visitor_id', 'variation']].drop_duplicates()

# Group by Variation and count
finished_counts = confirm_unique_visitors.groupby('variation')['visitor_id'].nunique()

print(finished_counts)

variation
Control    15566
Test       19505
Name: visitor_id, dtype: int64